#root {
    background-color: var(--Main-Bg);
     --nav-bg: #373b53;
     --primary-1: #7c5dfa;
     --primary-2: #9277ff;
}

.Light-Bg {
    --Main-Bg: #f5f5f5;
}

.Dark-Bg {
    --Main-Bg: #141625;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
